* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555;
  font-family: "Signika", "Roboto", "Arial", "sans-serif";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.701)),
    url("images/site.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 220%;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.site-desc {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
}
.primary-btn:link,
.primary-btn:visited {
  background-color: #e67e22;
  border: solid 1px #e67e22;
  color: #fff;
}
.secondary-btn:link,
.secondary-btn:visited {
  border: solid 1px #e67e22;
  color: #e67e22;
}
